.sale{
    max-width : 1500px;
    margin-inline: auto;
    height: 450px;
    margin-inline: auto;
    background: url("./img/sale.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: white;
    margin-bottom: 2rem;

}

.sale__starts{
    margin-left: 4rem;
    font-family: Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 50px;
}

@media (max-width : 768px){
    .sale{
        height: 270px;
    }
    .sale__starts{
        font-size: 12px;
        margin-left: 2rem;
    }
}